@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Starter CSS for Menu */
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
}
#cssmenu ul,
#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 0;
  left: 190px;
  width: 190px;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  bottom: 0;
  left: 0;
}
#cssmenu ul ul {
  margin-top: 0;
}
#cssmenu ul ul li {
  font-weight: normal;
}
#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
/* Custom CSS Styles */
#cssmenu {
  background: #014275;
  border-bottom: 2px solid #000;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 13px;
  font-weight:bold ;
}
#cssmenu > ul {
  *display: inline-block;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu ul {
  text-transform: none;
}
#cssmenu ul ul {
  border-top: 4px solid #014275;
  text-transform: none;
  min-width: 290px;
}
#cssmenu ul ul a {
  background: #014275;
  color: #FFFFFF;
  border: 0px solid #014275;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 20px;
  font-size: 13px;
  font-weight :bold ;
}
#cssmenu ul ul ul {
  border-top: 0 none;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu ul ul li:first-child > a {
  border-top: 1px solid #014275;
}
#cssmenu ul ul li:hover > a {
  background: #A99A35;
  color: #FFFFFF;
}
#cssmenu ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #014275;
  -webkit-box-shadow: 0 1px 0 #014275;
  box-shadow: 0 1px 0 #014275;
}
#cssmenu ul ul li:last-child:hover > a {
   -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #014275;
  -webkit-box-shadow: 0 1px 0 #014275;
  box-shadow: 0 1px 0 #014275;
}
#cssmenu ul ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
#cssmenu ul li:hover > a,
#cssmenu ul li.active > a {
 
  color: #F5D607;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
}
#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}
#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#cssmenu a {
 
  color: #FFF;
  padding: 4px 20px;
}
#cssmenu > ul > li > a {
  line-height: 50px;
  font-size: 12px;
}
.ctl00_LoginView2_MenuJE_0
{
    background: #014275 !important;
    padding:2px;
     margin-top:9px !important;
}
.ctl00_LoginView1_MenuCON_0
{
    background: #014275 !important;
    padding:2px; 
    margin-top:9px !important;
}

.ctl00_LoginView3_MenuAE_0
 {
    background: #014275 !important;
    padding:2px; 
    margin-top:9px !important;
 }
 
 .ctl00_LoginView4_MenuAEEE_0
 {
    background: #014275 !important;
    padding:2px; 
    margin-top:9px !important;
 }
 .ctl00_LoginView5_MenuSE_0
 {
    background: #014275 !important;
    padding:2px; 
    margin-top:9px !important;
 }
 .ctl00_LoginView6_MenuADM_0
 {
      background: #014275 !important;
    padding:2px; 
    margin-top:9px !important;
 }